body{
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}
main{
    display:flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1,h2{
    margin: 0;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.about{
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.education{
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style:solid;
    border-width: 1px;
}

.skills{
    flex:1 0 200px ;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.contact{
    flex:  1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width:  1px;
}